*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Outfit', sans-serif;
    background: hsl(212, 45%, 89%);
}
.container img{
    width: 88%;
    border-radius: 10px;
    margin: 17px;

}
.container {
    margin: 10% auto;
    height: 480px;
    width: 290px;
    background:hsl(0, 0%, 100%) ;
    border-radius: 15px;
    box-shadow: 0 10px 16px hsla(0, 0%, 0%, 0.06);

}
.container h1{
    font-weight: 700;
    font-size: 22px;
    padding: 9px 0 0 20px;

}
.container p{
    padding: 22px 0 0 10px ;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}
